* {
    margin: 0;
    box-sizing: border-box;
}
nav {
    background-color: darkgreen;
}
.article_item {
    background-color: #333;
    color: #fff;
}
#blog {
    padding-left: 30px;
    padding-right: 30px;
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

input[type=button] {
    margin-top: 85px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 162px;
    height: 60px;
    display: block;
    /* padding: 22px 33px; */
}